<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/base.css">
</head>
<body>
    <div class="lists">

        <div class="posts">
            <div class="heading">
                <h3>Hello world</h3>
                <div class="publish">20.11.2024</div>

            </div>
            <p>Lorem ipsum dolor sit amet.</p>
        </div>

        <div class="posts">
            <h3>Hello world</h3>
            <p>Lorem ipsum dolor sit amet.</p>
        </div>

        <div class="posts">
            <h3>Hello world</h3>
            <img class="img" src="../img/screeshot.png" alt="nn">
        </div>

        <div class="posts">
            <h3>Hello world</h3>
            <p>Lorem ipsum dolor sit amet.</p>
        </div>
        

    </div>
</body>
</html>